@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font: 14px/1.2 Arial, "Hiragino Sans GB", "微软雅黑", "宋体";
  background-color: #fbf9fe;
}
body {
  font-size: 0.4375rem;
  color: #333333;
}
html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  box-sizing: border-box;
}
/*common&rest*/
input,
select {
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.no_highlight,
a,
label,
input,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.td {
  display: table-cell;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;/* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*去除input[type=number]最右边的spinners*/
input[type='number'] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
  height: 100%;
  position: relative;
}
html body {
  height: 100%;
}
html body .container {
  height: 100%;
  position: relative;
}
html body .container .top-section {
  padding-top: 0.25rem;
  height: 3.125rem;
  background: url("../img/mypic/bg.jpg") no-repeat center;
  background-size: cover;
}
html body .container .top-section p {
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.5rem;
  color: white;
}
html body .container .main-section {
  background-color: white;
}
html body .container .main-section ul li {
  position: relative;
  padding: 0.25rem 0.46875rem;
  border-bottom: 1px solid #e7e7e7;
}
html body .container .main-section ul li:nth-child(even) {
  color: #98989f;
  line-height: 0.6875rem;
  display: none;
}
html body .container .main-section ul li label {
  padding-top: 0.15625rem;
}
html body .container .main-section ul li input {
  margin-left: -0.09375rem;
  border: none;
  outline: none;
  color: #333333;
  font-size: 0.4375rem;
  padding: 0.0625rem 0;
  line-height: 0.5625rem;
}
html body .container .main-section ul .phone-input #send-sms {
  display: block;
  border: none;
  outline: none;
  height: 0.9375rem;
  line-height: 0.9375rem;
  position: absolute;
  right: 0.46875rem;
  top: 50%;
  margin-top: -0.46875rem;
  font-size: 0.375rem;
  background-color: #209AF9;
  border-radius: 0.15625rem;
  color: white;
  padding: 0 0.25rem;
}
html body .container .btn-section {
  position: absolute;
  width: 100%;
  bottom: 3.28125rem;
  padding: 0 0.625rem;
}
html body .container .btn-section div {
  width: 100%;
  border: none;
  background-color: #209AF9;
  color: white;
  line-height: 1.25rem;
  border-radius: 0.15625rem;
  text-align: center;
}
html body .container .icon-section {
  width: 100%;
  position: absolute;
  bottom: 0.625rem;
}
html body .container .icon-section .icon-box {
  width: 33%;
  text-align: center;
  line-height: 0.6875rem;
  color: #c9c9c9;
  font-size: 0.375rem;
}
html body .container .icon-section .icon-box .iconfont {
  font-size: 1.25rem;
}
/*# sourceMappingURL=longin.css.map */
