@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font: 14px/1.2 Arial, "Hiragino Sans GB", "微软雅黑", "宋体";
  background-color: #fbf9fe;
}
body {
  font-size: 0.4375rem;
  color: #333333;
}
html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  box-sizing: border-box;
}
/*common&rest*/
input,
select {
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.no_highlight,
a,
input,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.td {
  display: table-cell;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;/* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*去除input[type=number]最右边的spinners*/
input[type='number'] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .top-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 1.375rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
}
.container .top-nav div {
  width: 33%;
  text-align: center;
}
.container .top-nav div p {
  display: inline-block;
  font-size: 0.375rem;
  text-align: center;
  height: 1.375rem;
  line-height: 1.375rem;
}
.container .top-nav div .active {
  border-bottom: 2px solid #FF4400;
}
.container .order-list {
  padding-top: 1.375rem;
}
.container .order-list li {
  padding: 0 0.3125rem;
  background-color: white;
  margin-bottom: 0.3125rem;
}
.container .order-list li .order-info {
  position: relative;
  min-height: 2.1875rem;
  padding: 0.3125rem 0 0.3125rem 1.875rem;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.375rem;
}
.container .order-list li .order-info p {
  line-height: 0.5rem;
}
.container .order-list li .order-info img {
  position: absolute;
  height: 1.5625rem;
  width: 1.5625rem;
  left: 0;
  top: 0.3125rem;
  border-radius: 0.09375rem;
}
.container .order-list li .order-status {
  position: relative;
  height: 1.25rem;
  padding: 0.15625rem 2.8125rem 0.15625rem 0;
  font-size: 0.375rem;
}
.container .order-list li .order-status p {
  line-height: 0.46875rem;
}
.container .order-list li .order-status a {
  position: absolute;
  top: 0.21875rem;
  right: 0;
  display: block;
  height: 0.8125rem;
  line-height: 0.8125rem;
  text-align: center;
  width: 2.5rem;
  color: white;
  border-radius: 0.15625rem;
}
.container .order-list li .order-status .buy-now {
  background-color: #FF4400;
}
.container .order-list li .order-status .buy-again {
  background-color: #209AF9;
}
.container .order-list li .red {
  color: #FF4400;
}
.container .order-list li .blue {
  color: #209AF9;
}
/*# sourceMappingURL=myOrder.css.map */
