@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font: 14px/1.2 Arial, "Hiragino Sans GB", "微软雅黑", "宋体";
  background-color: #fbf9fe;
}
body {
  font-size: 0.4375rem;
  color: #333333;
}
html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  box-sizing: border-box;
}
/*common&rest*/
input,
select {
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.no_highlight,
a,
label,
input,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.td {
  display: table-cell;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;/* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*去除input[type=number]最右边的spinners*/
input[type='number'] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .top-section {
  position: relative;
  height: 4.375rem;
  background: url("../img/mypic/1.jpg") no-repeat center;
  background-size: cover;
}
.container .top-section p {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  line-height: 1.09375rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.container .shop-info {
  background-color: white;
  position: relative;
  padding: 0.3125rem;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.375rem;
}
.container .shop-info dl {
  margin: 0;
  line-height: 0.5625rem;
}
.container .shop-info dl dt {
  float: left;
}
.container .shop-info dl dd {
  float: left;
  width: 80%;
  margin-left: 0;
}
.container .main-section {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
}
.container .main-section .main-tab {
  height: 0.9375rem;
  padding: 0.15625rem 0;
}
.container .main-section .main-tab a {
  width: 50%;
  text-align: center;
  color: #209AF9;
  font-size: 0.375rem;
}
.container .main-section .main-tab .tab-l {
  line-height: 0.625rem;
}
.container .main-section .main-tab .tab-r {
  border-left: 1px solid #e7e7e7;
  line-height: 0.625rem;
}
.container .main-section .main-list {
  background-color: white;
  border-top: 1px solid #e7e7e7;
}
.container .main-section .main-list .list-r li .set-info {
  display: block;
  background-color: white;
  position: relative;
  padding: 0.3125rem 3.125rem 0.3125rem 0.3125rem;
  border-bottom: 1px solid #e7e7e7;
}
.container .main-section .main-list .list-r li .set-info .box-l {
  min-height: 1.5625rem;
}
.container .main-section .main-list .list-r li .set-info .box-l h6 {
  font-weight: normal;
  font-size: 0.4375rem;
}
.container .main-section .main-list .list-r li .set-info .box-l p {
  margin-top: 0.0625rem;
  font-size: 0.375rem;
  color: #98989f;
  line-height: 0.5rem;
  overflow: hidden;
}
.container .main-section .main-list .list-r li .set-info .box-r {
  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;
  max-width: 2.5rem;
  overflow: hidden;
}
.container .main-section .main-list .list-r li .set-info .box-r h6 {
  font-size: 0.4375rem;
  color: #FF4400;
  text-align: right;
}
.container .main-section .main-list .list-r li .set-info .box-r p {
  font-size: 0.375rem;
  color: #98989f;
  text-align: right;
  margin-top: 0.0625rem;
}
/*# sourceMappingURL=shopDetail.css.map */
